In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv("matches.csv", index_col="Unnamed: 0")

In [3]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,10.0,2.0,14.6,1.0,0.0,0.0,2023,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,NaN,19.0,7.0,13.0,0.0,0.0,0.0,2023,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,NaN,14.0,6.0,14.8,0.0,0.0,0.0,2023,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,NaN,22.0,8.0,15.5,1.0,0.0,0.0,2023,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,NaN,22.0,8.0,16.3,1.0,0.0,0.0,2023,Arsenal

In [4]:
matches.shape

(1282, 27)

In [5]:
matches.columns

Index(['date', 'time', 'comp', 'round', 'day', 'venue', 'result', 'gf', 'ga',
       'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain', 'formation',
       'referee', 'match report', 'notes', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team'],
      dtype='object')

In [6]:
matches["team"].value_counts()

Arsenal                   65
TottenhamHotspur          65
Everton                   65
WolverhamptonWanderers    65
ManchesterCity            65
AstonVilla                64
Southampton               64
LeedsUnited               64
WestHamUnited             64
LeicesterCity             64
CrystalPalace             64
Chelsea                   64
Liverpool                 64
ManchesterUnited          64
Brentford                 63
NewcastleUnited           63
BrightonandHoveAlbion     62
Burnley                   38
Watford                   38
NorwichCity               38
Fulham                    27
NottinghamForest          26
Bournemouth               26
Name: team, dtype: int64

In [7]:
65-38

27

In [8]:
matches[matches["team"]=="Arsenal"]

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,10.0,2.0,14.6,1.0,0.0,0.0,2023,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,NaN,19.0,7.0,13.0,0.0,0.0,0.0,2023,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,NaN,14.0,6.0,14.8,0.0,0.0,0.0,2023,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,NaN,22.0,8.0,15.5,1.0,0.0,0.0,2023,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,NaN,22.0,8.0,16.3,1.0,0.0,0.0,2023,Arsenal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,2022-05-01,16:30,Premier League,Matchweek 35,Sun,Away,W,2.0,1.0,West Ham,...,Match Report,NaN,13.0,7.0,19.3,0.0,0.0,0.0,2022,Arsenal
41,2022-05-08,14:00,Premier League,Matchweek 36,Sun,Home,W,2.0,1.0,Leeds United,...,Match Report,NaN,19.0,9.0,14.3,2.0,0.0,0.0,2022,Arsenal
42,2022-05-12,19:45,Premier League,Matchweek 22,Thu,Away,L,0.0,3.0,Tottenham,...,Match Report,NaN,9.0,5.0,24.0,0.0,0.0,0.0,2022,Arsenal
43,2022-05-16,20:00,Premier League,Matchweek 37,Mon,Away,L,0.0,2.0,Newcastle Utd,...,Match Report,NaN,11.0,2.0,21.1,0.0,0.0,0.0,2022,Arsenal
44,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Home,W,5.0,1.0,Everton,...,Match Report,NaN,25.0,8.0,17.0,1.0,1.0,1.0,2022,Arsenal

In [9]:
matches[(matches["team"]=="Liverpool")&(matches["opponent"]=="Bournemouth")]

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,9.0,0.0,Bournemouth,...,Match Report,NaN,19.0,12.0,11.6,0.0,0.0,0.0,2023,Liverpool
38,2023-03-11,12:30,Premier League,Matchweek 27,Sat,Away,L,0.0,1.0,Bournemouth,...,Match Report,NaN,14.0,5.0,18.5,0.0,0.0,1.0,2023,Liverpool

In [10]:
matches[((matches["team"]=="Bournemouth")&(matches["opponent"]=="Liverpool"))|((matches["team"]=="Liverpool")&(matches["opponent"]=="Bournemouth"))]

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,9.0,0.0,Bournemouth,...,Match Report,NaN,19.0,12.0,11.6,0.0,0.0,0.0,2023,Liverpool
38,2023-03-11,12:30,Premier League,Matchweek 27,Sat,Away,L,0.0,1.0,Bournemouth,...,Match Report,NaN,14.0,5.0,18.5,0.0,0.0,1.0,2023,Liverpool
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Away,L,0.0,9.0,Liverpool,...,Match Report,NaN,5.0,2.0,18.2,0.0,0.0,0.0,2023,Bournemouth
29,2023-03-11,12:30,Premier League,Matchweek 27,Sat,Home,W,1.0,0.0,Liverpool,...,Match Report,NaN,5.0,2.0,12.3,0.0,0.0,0.0,2023,Bournemouth

In [11]:
matches["round"].value_counts()

Matchweek 1     40
Matchweek 16    40
Matchweek 27    40
Matchweek 26    40
Matchweek 24    40
Matchweek 12    40
Matchweek 23    40
Matchweek 2     40
Matchweek 21    40
Matchweek 20    40
Matchweek 19    40
Matchweek 18    40
Matchweek 17    40
Matchweek 22    40
Matchweek 15    40
Matchweek 6     40
Matchweek 14    40
Matchweek 4     40
Matchweek 5     40
Matchweek 3     40
Matchweek 10    40
Matchweek 11    40
Matchweek 13    40
Matchweek 9     40
Matchweek 8     36
Matchweek 25    36
Matchweek 7     30
Matchweek 34    20
Matchweek 37    20
Matchweek 33    20
Matchweek 36    20
Matchweek 35    20
Matchweek 31    20
Matchweek 30    20
Matchweek 32    20
Matchweek 29    20
Matchweek 28    20
Matchweek 38    20
Name: round, dtype: int64

In [12]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [13]:
matches["date"] = pd.to_datetime(matches["date"])

In [14]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,10.0,2.0,14.6,1.0,0.0,0.0,2023,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,NaN,19.0,7.0,13.0,0.0,0.0,0.0,2023,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,NaN,14.0,6.0,14.8,0.0,0.0,0.0,2023,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,NaN,22.0,8.0,15.5,1.0,0.0,0.0,2023,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,NaN,22.0,8.0,16.3,1.0,0.0,0.0,2023,Arsenal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2022-04-30,15:00,Premier League,Matchweek 35,Sat,Away,L,0.0,2.0,Aston Villa,...,Match Report,NaN,9.0,3.0,21.6,0.0,0.0,0.0,2022,NorwichCity
39,2022-05-08,14:00,Premier League,Matchweek 36,Sun,Home,L,0.0,4.0,West Ham,...,Match Report,NaN,8.0,2.0,22.2,1.0,0.0,0.0,2022,NorwichCity
40,2022-05-11,19:45,Premier League,Matchweek 21,Wed,Away,L,0.0,3.0,Leicester City,...,Match Report,NaN,9.0,5.0,17.0,0.0,0.0,0.0,2022,NorwichCity
41,2022-05-15,14:00,Premier League,Matchweek 37,Sun,Away,D,1.0,1.0,Wolves,...,Match Report,NaN,11.0,2.0,14.4,0.0,0.0,0.0,2022,NorwichCity
42,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Home,L,0.0,5.0,Tottenham,...,Match Report,NaN,9.0,0.0,18.6,0.0,0.0,0.0,2022,NorwichCity

In [15]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [16]:
# Add column that converts venue to categorical column where "0" indicates "Away" and "1" indicates "Home"
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [17]:
# Add column that converts opponent to categorical column where each opponent is represented by a number
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [18]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [19]:
matches["day_code"] = matches["date"].dt.dayofweek

In [20]:
# 0: Draw, 1: Lose, 2: Win
# matches["target"] = matches["result"].astype("category").cat.codes

matches["target"] = (matches["result"] == "W").astype("int")
matches.target

0     1
1     1
2     1
3     1
4     1
     ..
38    0
39    0
40    0
41    0
42    0
Name: target, Length: 1282, dtype: int32

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
rfc = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [23]:
X_train = matches[matches["date"] < "2023-01-01"]
X_test = matches[matches["date"] > "2023-01-01"]
# matches.date.dt.year.value_counts()

In [24]:
X_train.shape, X_test.shape

((1088, 32), (190, 32))

In [25]:
matches.columns

Index(['date', 'time', 'comp', 'round', 'day', 'venue', 'result', 'gf', 'ga',
       'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain', 'formation',
       'referee', 'match report', 'notes', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team', 'venue_code', 'opp_code', 'hour', 'day_code',
       'target'],
      dtype='object')

In [26]:
features = ["venue_code", "opp_code", "hour", "day_code"]

In [27]:
rfc.fit(X_train[features], X_train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [28]:
preds = rfc.predict(X_test[features])

In [29]:
preds

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0])

In [30]:
pd.concat([X_test["target"].reset_index(), pd.DataFrame(preds)], axis=1)

     index  target  0
0       23       0  0
1       25       1  0
2       26       1  0
3       28       0  0
4       29       0  0
..     ...     ... ..
185     29       0  0
186     30       1  0
187     31       0  0
188     33       1  0
189     34       0  0

[190 rows x 3 columns]

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
acc = accuracy_score(X_test["target"], preds)

In [33]:
acc

0.6263157894736842

In [34]:
combined = pd.DataFrame(dict(actual=X_test["target"], predicted=preds))

In [35]:
combined

    actual  predicted
23       0          0
25       1          0
26       1          0
28       0          0
29       0          0
..     ...        ...
29       0          0
30       1          0
31       0          0
33       1          0
34       0          0

[190 rows x 2 columns]